<div class="row" style="margin-top: 20px;">
  <div class="col-md-12">
    <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title">用户评论</h3>
       </div> 
       <div class="panel-body" style="min-height: 600px;" >      
    <div class="row">
      <div class="col-md-12">
      <ul class="timeline">
          <li>
            <div class="timeline-badge">
        <%= image_tag User.first.avatar_url %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <span class="timeline-title"><%= User.first.name  %></span>
                <span class="pull-right"><%= time_ago_in_words(Time.now)%><span>
              </div>
              <hr>
              <div class="timeline-body markdown">
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
                  吃屎吧
              </div>
            </div>
          </li>
      </ul>
      </div>
    </div>
  </div>
</div>
